In [1]:
!pip install pyarrow
!pip install google-cloud-bigquery

Requirement already satisfied: pyarrow in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (4.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from pyarrow) (1.19.2)
Requirement already satisfied: google-cloud-bigquery in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (2.17.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.23.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (1.28.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (2.24.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (1.6.0)
Requirement already satisfied: packaging>=14.3 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (20.4)
Requirement already satisfied: protobuf>=3.12.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (3.17.0)
Requirement already satisfied: proto-plus>=1.10.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (1.18.1)
Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-cloud-bigquery) (1.3.0)
Requirement already satisfied: pytz in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (2020.1)
Requirement already satisfied: six>=1.13.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: google-auth<2.0dev,>=1.25.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.30.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: setuptools>=40.3.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (50.3.1.post20201107)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0; extra == "grpc" in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.38.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.1.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cffi>=1.0.0 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.14.3)
Requirement already satisfied: pyasn1>=0.1.3 in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: pycparser in /Users/eduardovasquez/anaconda3/lib/python3.8/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (2.20)

In [2]:
import psycopg2
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account

### Extracting data from PostgreSQL

In [12]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'Adventureworks', user = 'postgres', password = '1234' )

In [64]:
cur = conn.cursor()
table1 = pd.read_sql_query('SELECT s.productid,p.name,	SUM(orderqty) FROM sales.salesorderdetail AS s INNER JOIN production.product AS p ON s.productid = p.productid INNER JOIN production.productcosthistory AS ph ON ph.productid = p.productid group by s.productid, p.name', conn )
table2 = pd.read_sql_query('SELECT s.stateprovinceid, sp.name, SUM(salesytd) FROM sales.salestaxrate AS s INNER JOIN person.stateprovince AS sp ON sp.stateprovinceid = s.stateprovinceid INNER JOIN sales.salesterritory AS t ON t.territoryid = sp.territoryid group by s.stateprovinceid, sp.name', conn)
table3 = pd.read_sql_query('SELECT s.specialofferid, p.name, SUM(quantity) FROM sales.specialofferproduct AS s INNER JOIN production.product AS p ON p.productid = s.productid INNER JOIN production.transactionhistory AS t ON t.productid = p.productid group by s.specialofferid, p.name', conn)
cur.close()

In [7]:
conn.close()

In [63]:
table1

     productid                     name    sum
0          707    Sport-100 Helmet, Red  18798
1          708  Sport-100 Helmet, Black  19596
2          709   Mountain Bike Socks, M   1107
3          710   Mountain Bike Socks, L     90
4          711   Sport-100 Helmet, Blue  20229
..         ...                      ...    ...
261        994        LL Bottom Bracket    378
262        996        HL Bottom Bracket    543
263        997       Road-750 Black, 44    656
264        998       Road-750 Black, 48   1556
265        999       Road-750 Black, 52   1338

[266 rows x 3 columns]

In [65]:
table2

    stateprovinceid                   name           sum
0                15                Florida  2.538667e+06
1                72              Tennessee  2.538667e+06
2                14                England  5.012905e+06
3                 9             California  1.051085e+07
4                63                 Quebec  1.354366e+07
5                41              Brunswick  6.771829e+06
6                31               Manitoba  6.771829e+06
7                69           Saskatchewan  6.771829e+06
8                57                Ontario  1.354366e+07
9                29               Labrador  6.771829e+06
10               74                   Utah  7.887187e+06
11               84                 France  4.772398e+06
12               73                  Texas  1.051085e+07
13                7       British Columbia  6.771829e+06
14                6                Arizona  1.051085e+07
15                1                Alberta  1.354366e+07
16               77               Victoria  5.977815e+06
17               36              Minnesota  3.072175e+06
18               83        Yukon Territory  6.771829e+06
19               35               Michigan  3.072175e+06
20               20                Hamburg  3.805202e+06
21               51  Northwest Territories  6.771829e+06
22               45           Newfoundland  6.771829e+06
23               49            Nova Scotia  6.771829e+06
24               79             Washington  7.887187e+06
25               30          Massachusetts  2.402177e+06

In [36]:
table1.dtypes

productid     int64
name         object
sum           int64
dtype: object

In [54]:
table2.dtypes

stateprovinceid      int64
name                object
sum                float64
dtype: object

In [66]:
table3.dtypes

specialofferid     int64
name              object
sum                int64
dtype: object

In [37]:
grouping = table1

In [55]:
grouping2 = table2

In [68]:
grouping3 = table3

### Transforming data

In [43]:
grouping

     productid                     name    sum
0          707    Sport-100 Helmet, Red  18798
1          708  Sport-100 Helmet, Black  19596
2          709   Mountain Bike Socks, M   1107
3          710   Mountain Bike Socks, L     90
4          711   Sport-100 Helmet, Blue  20229
..         ...                      ...    ...
261        994        LL Bottom Bracket    378
262        996        HL Bottom Bracket    543
263        997       Road-750 Black, 44    656
264        998       Road-750 Black, 48   1556
265        999       Road-750 Black, 52   1338

[266 rows x 3 columns]

In [56]:
grouping2

    stateprovinceid                   name           sum
0                15                Florida  2.538667e+06
1                72              Tennessee  2.538667e+06
2                14                England  5.012905e+06
3                 9             California  1.051085e+07
4                63                 Quebec  1.354366e+07
5                41              Brunswick  6.771829e+06
6                31               Manitoba  6.771829e+06
7                69           Saskatchewan  6.771829e+06
8                57                Ontario  1.354366e+07
9                29               Labrador  6.771829e+06
10               74                   Utah  7.887187e+06
11               84                 France  4.772398e+06
12               73                  Texas  1.051085e+07
13                7       British Columbia  6.771829e+06
14                6                Arizona  1.051085e+07
15                1                Alberta  1.354366e+07
16               77               Victoria  5.977815e+06
17               36              Minnesota  3.072175e+06
18               83        Yukon Territory  6.771829e+06
19               35               Michigan  3.072175e+06
20               20                Hamburg  3.805202e+06
21               51  Northwest Territories  6.771829e+06
22               45           Newfoundland  6.771829e+06
23               49            Nova Scotia  6.771829e+06
24               79             Washington  7.887187e+06
25               30          Massachusetts  2.402177e+06

In [69]:
grouping3

     specialofferid                            name    sum
0                 1                 Racing Socks, L   1949
1                 1                   HL Road Pedal  21413
2                 1   LL Mountain Frame - Black, 40    241
3                 1          Men's Sports Shorts, M      2
4                 1  Short-Sleeve Classic Jersey, S   1512
..              ...                             ...    ...
440               1                   LL Road Pedal  45208
441               1          Mountain-200 Black, 42   2340
442               1          Mountain-500 Black, 42    625
443               1          Mountain-500 Black, 44    541
444               1         Touring-1000 Yellow, 54    709

[445 rows x 3 columns]

### Loading data to BigQuery

In [82]:
credentials = service_account.Credentials.from_service_account_file( 
    '/Users/eduardovasquez/Downloads/taller1-315520-e65ef1c58399.json', 
    scopes = [ 'https://www.googleapis.com/auth/cloud-platform' ]
)

In [83]:
client = bigquery.Client( credentials = credentials, project = credentials.project_id )

In [84]:
job_config = bigquery.LoadJobConfig(
    schema = [
        # Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
        bigquery.SchemaField( 'productid', bigquery.enums.SqlTypeNames.INT64 ),
        bigquery.SchemaField( 'name', bigquery.enums.SqlTypeNames.STRING ),
        bigquery.SchemaField( 'sum', bigquery.enums.SqlTypeNames.INT64 ),
    ],
    # Drod and re-create table, if exist
    write_disposition = 'WRITE_TRUNCATE',
)

In [57]:
job_config = bigquery.LoadJobConfig(
    schema = [
        # Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
        bigquery.SchemaField( 'stateprovinceid', bigquery.enums.SqlTypeNames.INT64 ),
        bigquery.SchemaField( 'name', bigquery.enums.SqlTypeNames.STRING ),
        bigquery.SchemaField( 'sum', bigquery.enums.SqlTypeNames.FLOAT64 ),
    ],
    # Drod and re-create table, if exist
    write_disposition = 'WRITE_TRUNCATE',
)

In [85]:
job_config = bigquery.LoadJobConfig(
    schema = [
        # Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
        bigquery.SchemaField( 'specialofferid', bigquery.enums.SqlTypeNames.INT64 ),
        bigquery.SchemaField( 'name', bigquery.enums.SqlTypeNames.STRING ),
        bigquery.SchemaField( 'sum', bigquery.enums.SqlTypeNames.INT64 ),
    ],
    # Drod and re-create table, if exist
    write_disposition = 'WRITE_TRUNCATE',
)

In [86]:
job = client.load_table_from_dataframe(
    grouping, 'databases2.grouping', job_config = job_config
)
job.result()

ValueError: bq_schema contains fields not present in dataframe: {'specialofferid'}

In [87]:
job = client.load_table_from_dataframe(
    grouping2, 'databases2.grouping2', job_config = job_config
)
job.result()

ValueError: bq_schema contains fields not present in dataframe: {'specialofferid'}

In [88]:
job = client.load_table_from_dataframe(
    grouping3, 'databases2.grouping3', job_config = job_config
)
job.result()

In [81]:
table = client.get_table( 'databases2.grouping' )
print(
    'Loaded {} rows and {} columns to {}'.format(
        table.num_rows, len( table.schema ), 'databases2.grouping'
    )
)

table2 = client.get_table( 'databases2.grouping2' )
print(
    'Loaded {} rows and {} columns to {}'.format(
        table2.num_rows, len( table2.schema ), 'databases2.grouping2'
    )
)

table3 = client.get_table( 'databases2.grouping3' )
print(
    'Loaded {} rows and {} columns to {}'.format(
        table3.num_rows, len( table3.schema ), 'databases2.grouping3'
    )
)

Loaded 266 rows and 3 columns to databases2.grouping
Loaded 26 rows and 3 columns to databases2.grouping2
Loaded 445 rows and 3 columns to databases2.grouping3